
/* body { padding-top: 70px; } */



h1 { font-size: 3em; font-weight: bold; margin-top: 0; font-family: Cookie, cursive;}

h2, h3, h4 {     font-family: Cuprum, Arial, sans-serif; }
h4 {font-size: 1.2em;}

div#topHeaderRow {


   font-size: 0.9em;
   
}
div#topHeaderRow .navbar-text {
   color: rgb(200, 200, 200);
}
div#topHeaderRow .navbar-text  a, div#topHeaderRow ul  a  {
   color: rgb(248, 248, 248);
}

.col-md-2{
    padding: 1px;
}

.price { font-size: 1.4em; color: red; font-weight: bold;}

.similarTitle { font-weight: bold; font-size: 0.9em; }

.cartText { font-size: 0.75em; }

footer {
   margin-top: 1em;
   background-color: #E7E7E7;

}

.tight-form-group { margin-bottom: 5px; }

#copyrightRow { background-color: #3A3A3A; padding: 0.75em 0 0.75em 0; margin-top: 5px;}

#mainNavigationRow ul a {
    font-family: Cuprum, Arial, sans-serif;
}

.jumbotron {
   background-image: url('http://lab3.se3316a.tk/images/study-in-grey3.jpg'); 
      color: white;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);   
}

.jumbotron [role] {
   text-shadow: none;
}

.carousel-control.left
{
   margin-left: -100px;
   background: none;
   color: black;
	border: none;
}

.carousel-control.right
{
   margin-right: -100px;
   background: none;
   color:black;
	border: none;
}